<a href="https://colab.research.google.com/github/preetmodi/Credit-Risk-Analytics/blob/main/Data_Cleaning_V.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount Drive

In [ ]:
!sudo echo -ne '\n' | sudo add-apt-repository ppa:alessandro-strada/ppa >/dev/null 2>&1 # note: >/dev/null 2>&1 is used to supress printing
!sudo apt update >/dev/null 2>&1
!sudo apt install google-drive-ocamlfuse >/dev/null 2>&1
!google-drive-ocamlfuse
!sudo apt-get install w3m >/dev/null 2>&1 # to act as web browser 
!xdg-settings set default-web-browser w3m.desktop >/dev/null 2>&1 # to set default browser 
%cd /content
!mkdir gdrive
%cd gdrive
!mkdir "My Drive"
!google-drive-ocamlfuse "/content/gdrive/My Drive"

/usr/bin/xdg-open: 869: www-browser: not found
/usr/bin/xdg-open: 869: links2: not found
/usr/bin/xdg-open: 869: elinks: not found
/usr/bin/xdg-open: 869: links: not found
/usr/bin/xdg-open: 869: lynx: not found
/usr/bin/xdg-open: 869: w3m: not found
xdg-open: no method available for opening 'https://accounts.google.com/o/oauth2/auth?client_id=564921029129.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fgd-ocaml-auth.appspot.com%2Foauth2callback&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force&state=dog41R2i90AbDOlnKl9EaL1Xz4jMFHtq7kOJR-51dFs'
/bin/sh: 1: firefox: not found
/bin/sh: 1: google-chrome: not found
/bin/sh: 1: chromium-browser: not found
/bin/sh: 1: open: not found
Cannot retrieve auth tokens.
Failure("Error opening URL:https://accounts.google.com/o/oauth2/auth?client_id=564921029129.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fgd-ocaml-auth.appspot.com%2Foauth2callback&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force&state=dog41R2i90AbDOlnKl9EaL1Xz4jMFHtq7kOJR-51dFs")
/content
/content/gdrive
Access token retrieved correctly.

# Unzip files

In [ ]:
# %cd /content/gdrive/My Drive/Data/

/content/gdrive/My Drive/Data

In [ ]:
# !unzip "LCOrigination Data.zip"

Archive:  LCOrigination Data.zip
  inflating: LCOrigination.csv

# Data Exploration

In [ ]:
%cd /content/gdrive/My Drive/Data/

/content/gdrive/My Drive/Data

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [ ]:
!ls

'My Drive'

In [ ]:
df = pd.read_csv("LCOrigination.csv", low_memory=False)

In [ ]:
df.iloc[:,-10:]

,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1280641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280644,NaN,NaN,NaN,NaN,NaN,ACTIVE,Mar-2019,10000.0,44.82,1.0
1280645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns.to_list().index('collection_recovery_fee')

39

In [ ]:
df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.280615e+06,1.279707e+06,1.280615e+06,1.280615e+06,1.280615e+06,...,8610.0,8610.000000,8610.0,8610.000000,6432.000000,8610.000000,8610.000000,34214.000000,34214.000000,34214.000000
mean,1.513560e+04,1.513023e+04,1.511406e+04,1.340095e+01,4.488773e+02,7.715590e+04,1.898675e+01,3.123031e-01,6.973707e+02,7.013708e+02,...,3.0,159.393786,3.0,14.445296,467.320499,11812.129483,197.559281,5011.163605,47.773142,13.196031
std,9.164207e+03,9.162097e+03,9.163897e+03,4.923413e+00,2.672979e+02,7.592994e+04,1.399290e+01,8.765886e-01,3.246384e+01,3.246464e+01,...,0.0,132.041083,0.0,9.440823,384.066227,7668.925156,199.297305,3691.736410,7.304390,8.159966
min,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.250000e+02,6.290000e+02,...,3.0,1.470000,3.0,0.000000,4.410000,174.150000,0.010000,44.210000,0.200000,0.000000
25%,8.000000e+03,8.000000e+03,8.000000e+03,9.930000e+00,2.552500e+02,4.550000e+04,1.206000e+01,0.000000e+00,6.700000e+02,6.740000e+02,...,3.0,61.402500,3.0,7.000000,180.592500,5736.040000,48.102500,2208.370000,45.000000,6.000000
50%,1.300000e+04,1.300000e+04,1.300000e+04,1.279000e+01,3.816400e+02,6.500000e+04,1.805000e+01,0.000000e+00,6.900000e+02,6.940000e+02,...,3.0,122.420000,3.0,16.000000,362.700000,10211.385000,136.885000,4147.000000,45.000000,14.000000
75%,2.000000e+04,2.000000e+04,2.000000e+04,1.614000e+01,5.953100e+02,9.200000e+04,2.472000e+01,0.000000e+00,7.150000e+02,7.190000e+02,...,3.0,220.037500,3.0,23.000000,642.285000,16410.052500,287.407500,6851.195000,50.000000,18.000000
max,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.099920e+07,9.990000e+02,5.800000e+01,8.450000e+02,8.500000e+02,...,3.0,943.940000,3.0,32.000000,2680.890000,38399.000000,1407.860000,33601.000000,521.350000,181.000000

# Open Metadata FIle

In [ ]:
columns = pd.read_excel("LCDataDictionaryClean.xlsx")['Variable'].to_list()
columns

['id',
 'AmountRequested',
 'loan_amnt',
 'term',
 'ApplicationDate',
 'Risk_Score',
 'ficoRangeHigh',
 'ficoRangeLow',
 'acc_open_past_24mths',
 'addr_state',
 'all_util',
 'annual_inc',
 'annual_inc_joint',
 'application_type',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_2yrs',
 'desc',
 'dti',
 'dti_joint',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'fico_range_high',
 'fico_range_low',
 'funded_amnt',
 'funded_amnt_inv',
 'home_ownership',
 'il_util',
 'inq_fi',
 'inq_last_12m',
 'inq_last_6mths',
 'max_bal_bc',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_last_record',
 'mths_since_rcnt_il',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'open_acc',
 'open_acc_6m',
 'open_il_12m',
 'open_il_24m',
 'open_act_il',
 'open_rv_12m',
 'open_rv_24m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec',
 'pub_rec_bankruptcies',
 'purpose',
 'revol_bal',
 'revol_util',
 'tax_liens',
 'title',
 'tot_coll_amt',
 'tot_cur_bal',
 'tot_hi_cred_lim',
 'total_acc',
 'total_bal_ex_mort',
 'total_bal_il',
 'total_bc_limit',
 'total_cu_tl',
 'total_il_high_credit_limit',
 'verification_status',
 'zip_code',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'addrState',
 'annual_inc_joint',
 'annualInc',
 'bcOpenToBuy',
 'bcUtil',
 'delinq2Yrs',
 'delinqAmnt',
 'dti',
 'dti_joint',
 'earliestCrLine',
 'empLength',
 'homeOwnership',
 'inqLast6Mths',
 'isIncV',
 'mortAcc',
 'msa',
 'mths_since_oldest_il_open',
 'mthsSinceLastDelinq',
 'mthsSinceLastRecord',
 'mthsSinceMostRecentInq',
 'mthsSinceRecentBc',
 'mthsSinceRecentLoanDelinq',
 'mthsSinceRecentRevolDelinq',
 'openAcc',
 'percentBcGt75',
 'pubRec',
 'revolBal',
 'revolUtil',
 'totalAcc',
 'totalBalExMort',
 'totalBcLimit',
 'sec_app_chargeoff_within_12_mths',
 'Debt_To_IncomeRatio',
 'ZipCode',
 'State',
 'EmploymentLength',
 'installment']

In [ ]:
total_columns = [column for column in df.columns.to_list() if column in columns]
total_columns

['id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'installment',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog']

In [ ]:
len(total_columns)

89

In [ ]:
df['Default'] = df['loan_status'].apply(lambda x: 1 if x == 'Default' or x=='Charged Off' else 0)
origination_df = df[total_columns+['Default']]

In [ ]:
origination_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280646 entries, 0 to 1280645
Data columns (total 90 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   id                                   1280646 non-null  object
 1   loan_amnt                            1280615 non-null  float64
 2   funded_amnt                          1280615 non-null  float64
 3   funded_amnt_inv                      1280615 non-null  float64
 4   term                                 1280615 non-null  object
 5   installment                          1280615 non-null  float64
 6   emp_title                            1184469 non-null  object
 7   emp_length                           1195251 non-null  object
 8   home_ownership                       1280615 non-null  object
 9   annual_inc                           1280615 non-null  float64
 10  desc                                 71148 non-null    object
 11  purpose                              1280615 non-null  object
 12  title                                1266327 non-null  object
 13  zip_code                             1280615 non-null  object
 14  addr_state                           1280615 non-null  object
 15  dti                                  1279707 non-null  float64
 16  delinq_2yrs                          1280615 non-null  float64
 17  earliest_cr_line                     1280615 non-null  object
 18  fico_range_low                       1280615 non-null  float64
 19  fico_range_high                      1280615 non-null  float64
 20  inq_last_6mths                       1280615 non-null  float64
 21  mths_since_last_record               208313 non-null   float64
 22  open_acc                             1280615 non-null  float64
 23  pub_rec                              1280615 non-null  float64
 24  revol_bal                            1280615 non-null  float64
 25  revol_util                           1279638 non-null  float64
 26  total_acc                            1280615 non-null  float64
 27  application_type                     1280615 non-null  object
 28  annual_inc_joint                     65496 non-null    float64
 29  dti_joint                            65494 non-null    float64
 30  tot_coll_amt                         1241831 non-null  float64
 31  tot_cur_bal                          1241831 non-null  float64
 32  open_acc_6m                          773620 non-null   float64
 33  open_act_il                          773620 non-null   float64
 34  open_il_12m                          773620 non-null   float64
 35  open_il_24m                          773620 non-null   float64
 36  mths_since_rcnt_il                   749106 non-null   float64
 37  total_bal_il                         773620 non-null   float64
 38  il_util                              662044 non-null   float64
 39  open_rv_12m                          773620 non-null   float64
 40  open_rv_24m                          773620 non-null   float64
 41  max_bal_bc                           773620 non-null   float64
 42  all_util                             773501 non-null   float64
 43  inq_fi                               773620 non-null   float64
 44  total_cu_tl                          773620 non-null   float64
 45  inq_last_12m                         773620 non-null   float64
 46  acc_open_past_24mths                 1253638 non-null  float64
 47  avg_cur_bal                          1241795 non-null  float64
 48  bc_open_to_buy                       1239461 non-null  float64
 49  bc_util                              1238793 non-null  float64
 50  chargeoff_within_12_mths             1280590 non-null  float64
 51  mo_sin_old_il_acct                   1202571 non-null  float64
 52  mo_sin_old_rev_tl_op                 1241830 non-null  float64
 53  mo_sin_rcnt_rev_tl_op                1241830 non-null  float64
 54  mo_sin_rcnt_tl                       1241831 non-null  float64
 55  mort_acc                             1253638 non-null  float64
 56  mths_since_recent_bc                 1240331 non-null  float64
 57  mths_since_recent_bc_dlq             297854 non-null   float64
 58  mths_since_recent_inq                1120182 non-null  float64
 59  mths_since_recent_revol_delinq       423274 non-null   float64
 60  num_accts_ever_120_pd                1241831 non-null  float64
 61  num_actv_bc_tl                       1241831 non-null  float64
 62  num_actv_rev_tl                      1241831 non-null  float64
 63  num_bc_sats                          1248678 non-null  float64
 64  num_bc_tl                            1241831 non-null  float64
 65  num_il_tl                            1241831 non-null  float64
 66  num_op_rev_tl                        1241831 non-null  float64
 67  num_rev_accts                        1241831 non-null  float64
 68  num_rev_tl_bal_gt_0                  1241831 non-null  float64
 69  num_sats                             1248678 non-null  float64
 70  pct_tl_nvr_dlq                       1241736 non-null  float64
 71  percent_bc_gt_75                     1239202 non-null  float64
 72  pub_rec_bankruptcies                 1280211 non-null  float64
 73  tax_liens                            1280600 non-null  float64
 74  tot_hi_cred_lim                      1241831 non-null  float64
 75  total_bal_ex_mort                    1253638 non-null  float64
 76  total_bc_limit                       1253638 non-null  float64
 77  total_il_high_credit_limit           1241831 non-null  float64
 78  revol_bal_joint                      58174 non-null    float64
 79  sec_app_earliest_cr_line             58175 non-null    object
 80  sec_app_inq_last_6mths               58175 non-null    float64
 81  sec_app_mort_acc                     58175 non-null    float64
 82  sec_app_open_acc                     58175 non-null    float64
 83  sec_app_revol_util                   57166 non-null    float64
 84  sec_app_open_act_il                  58175 non-null    float64
 85  sec_app_num_rev_accts                58175 non-null    float64
 86  sec_app_chargeoff_within_12_mths     58175 non-null    float64
 87  sec_app_collections_12_mths_ex_med   58175 non-null    float64
 88  sec_app_mths_since_last_major_derog  19786 non-null    float64
 89  Default                              1280646 non-null  int64
dtypes: float64(76), int64(1), object(13)
memory usage: 879.3+ MB

In [ ]:
origination_df.isnull().sum()

id                                           0
loan_amnt                                   31
funded_amnt                                 31
funded_amnt_inv                             31
term                                        31
                                        ...
sec_app_num_rev_accts                  1222471
sec_app_chargeoff_within_12_mths       1222471
sec_app_collections_12_mths_ex_med     1222471
sec_app_mths_since_last_major_derog    1260860
Default                                      0
Length: 90, dtype: int64

In [ ]:
null_columns = origination_df.columns[origination_df.isnull().any()]
null = origination_df[null_columns].isnull().sum()

In [ ]:
null[null>31].value_counts()
null[null==507026]

open_acc_6m     507026
open_act_il     507026
open_il_12m     507026
open_il_24m     507026
total_bal_il    507026
open_rv_12m     507026
open_rv_24m     507026
max_bal_bc      507026
inq_fi          507026
total_cu_tl     507026
inq_last_12m    507026
dtype: int64